<h2>Welcome to Chris' Workout Page</h2>


<form action="/" method="post">
	<fieldset>
	<legend>New Workout!</legend>
		<label for="name">NAME:</label>
		<input id="name" type="text" name="name">
		<label for="reps">REPS:</label>
		<input id="reps" type="number" name="reps">
		<label for="weight">WEIGHT:</label>
		<input id="weight" type="number" name="weight">
		<label for="date">DATE:</label>
		<input id="date" type="date" name="date">
		<label for="lbskg">LBS/KG (1/0):</label>
		<input id="lbskg" type="number" name="lbskg">
		<input type="submit" name = "newWorkout">
	</fieldset>
</form>

<table>
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>Lbs/Kg</th>
	</tr>
	{{#each rows}}
	<tr>
		<td>{{this.name}}</td>
		<td>{{this.reps}}</td>
		<td>{{this.weight}}</td>
		<td>{{this.date}}</td>
		{{#if this.lbs}}
			<td>lbs</td>
		{{else}}
			<td>kgs</td>
		{{/if}}
		<td>
			<form action="/"  method="post">
				<button name="delete">Delete</button>
				<input type="hidden" name="delete" value={{this.id}}>
			</form>
		</td>
		
		<td>
			<form action="/" method="post">
				<button name="edit">Edit</button>
				<input type="hidden" name="edit" value={{this.id}}>
			</form>
		</td>
	</tr>
	{{else}}
	<tr>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
		<td>NULL</td>
	</tr>
	{{/each}}
</table>


{{#if this.edit}}
<form action="/" method="post">
	<fieldset>
		<legend>Edit Workout</legend>
			<label for="name">NEW NAME:</label>
			<input id="name" type="text" name="name" value={{this.edit.name}}>
			<label for="reps">NEW REPS:</label>
			<input id="reps" type="number" name="reps" value={{this.edit.reps}}>
			<label for="weight">NEW WEIGHT:</label>
			<input id="weight" type="number" name="weight" value={{this.edit.weight}}>
			<label for="date">NEW DATE:</label>
			<input id="date" type="date" name="date" value={{this.edit.date}}>
			<label for="lbskg">NEW LBS/KG (1/0):</label>
			<input id="lbskg" type="number" name="lbskg" value={{this.edit.lbs}}>
			<input type="submit" name = "editWorkout" value={{this.edit.id}}>
	</fieldset>
</form>
{{/if}}